.searchPage{
     
    margin: 10% 20%;
    display: block;
    animation: fade-in 3s;
}

/* CSS rule that controls the steps in an animation sequence */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1.0;
  }
}

/* Styling text div above search bar */
.aboutContent{
  padding-bottom:1rem;
}

/* Styling div containing search bar */
.searchGroup {
  max-width: 100%;
  width: 45rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
}

/* Search bar */
/*:global needed to override the react-bootstrap css*/
.customSearchBar :global(.form-control) {
  height: 4rem;     
  font-size: 1rem; 
  border-radius: 2rem;
  border-right: none;
  transition: all 0.3s ease;
  padding-left:1.5rem;
  border-color: grey;

}

/* Styling the focus state */
.customSearchBar :global(.form-control:focus) {
  box-shadow: none;
  border-color: grey;
  outline: none;

}

/* Search bar button */
/* Need to override the react-bootsrap css for search button */ 
.customButton{
  width:4rem !important;
  border-left: none !important;
  border-radius:0 40px 40px 0 !important;
}

